body {
    font-family: 'Outfit', sans-serif;

    background-image: url('../imagens/fundo-site.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.cabecalho {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
    flex-direction: column;
}

.cabecalho__img {
    width: 50px;
    height: 50px;
}

.cabecalho__titulo {
    color: #fff;
    font-size: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 60px 0;
}

.slider__btn {
    background-color: #FFF;
    border: none;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.slider__btn:nth-child(1) {
    transform: rotateY(180deg);
}

.slider__btn:hover {
    background-color: #8351FE;
}

.slider__lista {
    width: 310px;
    height: 520px;
    position: relative;
}

.slider__cartao {
    opacity: 0;
    background-color: blueviolet;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 12px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: opacity 0.3s ease-in-out;
}

.slider__cartao.selecionado {
    opacity: 1;
    z-index: 1;
}

.fundo-1 {
    background: url('../imagens/fundo-card-1.jpg') no-repeat;
}

.fundo-2 {
    background: url('../imagens/fundo-card-2.jpg') no-repeat;
}

.fundo-3 {
    background: url('../imagens/fundo-card-3.jpg') no-repeat;
}

.slider__cartao .slider__cartao-info {
    background-color: rgba(179, 177, 185, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.slider__cartao-info--nome {
    color: #f1ecff;
    font-size: 22px;
}

.slider__cartao-info--vida {
    background-color: #333;
    color: #f1ecff;
    padding: 6px 10px;
    border-radius: 20px;
}

.slider__cartao-container {
    text-align: center;
}

.slider__cartao-container-img {
    max-width: 100%;
    max-height: 280px;
    padding: 20px;
}

.slider__cartao-descricao {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

.slider__cartao-descricao-titulo {
    background-color: #333;
    color: #f1ecff;
    font-size: 15px;
    padding: 12px;
}

.slider__cartao-descricao-texto {
    font-size: 14px;
    padding: 12px;
    text-align: justify;
    max-height: 115px;
    overflow-y: auto;
}